:root {
    --resWidthSize: 640px;
    --resHeightSize: 360px;
}

.logo a {
    color: black;
    text-decoration: none;
}

.logo a:hover {
    color: black;
}

.topLogo {
    color: black;
}

body {
    background-color: rgb(238, 238, 238) !important;
}

.object_id {
    color: white;
    font-size: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#top-logo {
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

#videoPreviewSection {
    display: none;
    position: relative;
    margin: auto;
    margin-bottom: 3%;
}

#beat-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#spinner {
    position: relative;
    margin: auto;
}

#selectAlbumCover {
    display: none;
    margin-bottom: 20px;
}

#main-content-container {
    margin: auto;
}

#upload-content-section {
    box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.05);
    background-color: white;
    width: 50%;
    height: auto;
    border-radius: calc(1 * 3px);

    padding: 20px;
    margin: auto;
    margin-bottom: 5%;
}

#pexelsLink {
    position: fixed;
    bottom: 0px;
    margin: auto;
    width: auto;
    height: 20px;
}

.pictureResult {
    width: 100%;
    cursor: pointer;
}

.text-bg-success {
    background-color: rgb(92, 92, 255);
}

.text-bg-primary {
    background-color: rgb(52, 179, 52);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding-top: 1%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 1%;
}

.logo h5 {
    font-size: 25px;
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333333;
    padding: 5px 10px;
    border-radius: 5px;
}

.menuItem {
    font-weight: 600;
}

.highlightedItem {
    background-color: rgb(162, 0, 255);
    color: white;
    border-radius: 5px;
}

nav ul li.highlightedItem a {
    color: white;
}

#frontStrip {
    background-color: black;
    width: 100%;
    max-height: fit-content;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    margin-bottom: 2%;
}

#frontStrip div {
    max-width: 23%;
}

#frontStrip div h3 {
    font-size: 40px;
    font-weight: 600;
    color: white;
}

#frontStrip div h5 {
    font-size: 20px;
    font-weight: light;
    color: rgb(172, 172, 172);
}

.featureList {
    background-color: white;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 1%;
    box-shadow: 20px 10px 55px -11px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 20px 10px 55px -11px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 20px 10px 55px -11px rgba(0, 0, 0, 0.1);
}

.featureList h5 {
    font-weight: 500;
    font-size: large;
}